
/** Pallete */
// Bright colors
$bright-violet-1: #7B7BFF;
$bright-violet-2: #6C5DE7;
$bright-violet-3: #5C3ECF;
$bright-violet-4: #4D20B7;
$bright-violet-5: #290098;
$bright-bg: #FFFFFF;
// Dark colors
$dark-violet-1: #9492FF;
$dark-violet-2: #8573F5;
$dark-violet-3: #7654EC;
$dark-violet-4: #6735E2;
$dark-violet-5: #5816D8;
$dark-bg: #242424;
//
$primary: #5227D0;
$primary-light: #9492FF;
$primary-x-light: #DADAFF;
$primary-xx-light: #E1E0FF;
$secondary: #1664D8;
$tertiary: #D0273B;
$light: $bright-bg;
$dark: $dark-bg;
$gray-bg: #f9f9f9;
$dark-gray-bg: #c7c7c7;
$dark-x-gray-bg: #afb1b6;
// Secondary colors
$success: #6EC388;
$warning: #FFDD31;
$danger: #F84031;
/** Font size */
$fs-xl: 3.6rem;
$fs-lg: 3.2rem;
$fs-md: 2rem;
$fs-sm: 1.8rem;
$fs-xs: 1.6rem;
$fs-xxs: 1.4rem;
