/** Palette */
$primary: #67d946;
$primary-light: #8fd400;
$primary-x-light: #bee477;
$secondary: #00dbc9;
$secondary-light: #73ecc2;
$secondary-x-light: #e6fcf4;
$tertiary: #22c95d;
$light: #ffffff;
$dark: #242424;
$dark-blue-bg: #131f2b;
$dark-gray-bg: #434e5b;
$dark-x-gray-bg: #3a434e;

/** gradients */
$gradient-btn: linear-gradient(38deg, #51d42b 39%, #9eeb00 78.36%), #67d946;

/** Font */
$body-font-family: "Open sans", system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
$head-font-family: Lato, system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;

$ds-xl: 4.9rem;
$ds-lg: 3.8rem;
$ds-md: 3rem;
$ds-sm: 2.4rem;
$ds-xs: 1.8rem;

$fs-xl: 3.7rem;
$fs-lg: 2.9rem;
$fs-md: 2.2rem;
$fs-sm: 1.9rem;
$fs-xs: 1.4rem;
